* {
	margin: 0;
	padding: 0;
}

body {
	min-width: 320px;
}

@font-face {
	font-family: OpenSans-Bold;
	src: url(../fonts/OpenSans-Bold.woff) format("woff"),
		 url(../fonts/OpenSans-Bold.woff2) format("woff2"),
		 url(../fonts/OpenSans-Bold.ttf) format("ttf");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: OpenSans-Regular;
	src: url(../fonts/OpenSans-Regular.woff) format("woff"),
		 url(../fonts/OpenSans-Regular.woff2) format("woff2"),
		 url(../fonts/OpenSans-Regular.ttf) format("ttf");
	font-weight: 400;
	font-style: normal;
}

.header {
	color: #ffffff;
	background-image: url(../images/football_767.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-color: #0a0e34;
    position: relative;
    display: flex;
    flex-direction: column;
}

.header::after {
	content: "";
	background-color: #0a0e34;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.9;
}

.header-container {
	position: relative;
	z-index: 2;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 32px;
	padding-bottom: 85px;
	display: flex;
    flex-direction: column;
}

.main-logo {
	display: block;
	width: 130px;
	height: 35px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.main-logo-svg {
	fill: #ffffff;
}

.heading {
	font-family: OpenSans-Bold, sans-serif;
	font-size: 28px;
	text-transform: uppercase;
	margin-top: 130px;
	margin-bottom: 85px;
	line-height: 1.2em;
}

.heading-end {
	display: block;
	margin-left: 44px;
	margin-top: 15px;
}

.header-social-links {
	display: flex;
	flex-direction: column;
	align-self: center;
	font-size: 8px;
}

.app-store-link, .google-play-link {
	width: 280px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #5e42b0;
	border-radius: 17px;
	cursor: pointer;
}

.app-store-link {
	margin-bottom: 14px;
}

.button-container {
	display: flex;
	align-items: center;
	width: 40%;
}

.app-store-logo, .google-play-logo {
	margin-right: 5px;
}

.app-store-logo-svg, .google-play-logo-svg {
	width: 26px;
	height: 26px;
	fill: #ffffff;
}

.social-text {
	font-family: OpenSans-Regular, sans-serif;
	display: block;
	text-transform: uppercase;
}

.app-store-text-end, .google-play-text-end {
	font-family: OpenSans-Bold, sans-serif;
}

.main-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.athlets {
	padding-top: 5px;
}

.heading-athlets, .heading-players {
	font-family: OpenSans-Bold, sans-serif;
	font-size: 50px;
	color: #e7e7e7;
	text-transform: uppercase;
	padding-left: 20px;
}

.footballer-img {
	display: block;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 20px; 
}

.connection-athlets {
	padding-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;
}

.title-container {
	display: flex;
	align-items: center;
}

.heading-number {
	font-family: OpenSans-Bold, sans-serif;
	font-size: 14px;
	margin-right: 9px;
}

.heading-number::after {
	content: "";
	display: block;
	width: 16px;
	height: 4px;
	background-color: #5e42b0;
	border-radius: 2px;
}

.content-title {
	font-family: OpenSans-Bold, sans-serif;
	font-size: 23px;
	color: #c1c1c1;
	text-transform: uppercase;
}

.content-text {
	font-family: OpenSans-Regular, sans-serif;
	font-size: 15px;
	margin-top: 17px;
}

.collaboration-athlets, .growth {
	padding: 50px 20px;
}

.collaboration-athlets {
	background: #f5f4f9;
}

.growth {
	background: #5e42b0;
}

.growth-heading-number {
	font-family: OpenSans-Bold, sans-serif;
	font-size: 14px;
	margin-right: 9px;
}

.growth-heading-number::after {
	content: "";
	display: block;
	width: 16px;
	height: 4px;
	background-color: #ffffff;
	border-radius: 2px;
}

.growth-content-text {
	font-family: OpenSans-Regular, sans-serif;
	font-size: 15px;
	margin-top: 17px;
	color: #ffffff;
}

.players {
	padding-top: 5px;
}

.basketballer-img {
	display: block;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 50px;
}

.connection-players {
	padding-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;
}

.collaboration-players {
	padding: 50px 20px;
	background: #f5f4f9;
}

.growth-players {
	padding: 50px 20px;
	background: #090c35;
}

.growth-heading-number-players {
	font-family: OpenSans-Bold, sans-serif;
	font-size: 14px;
	margin-right: 9px;
	color: #8765dd;
}

.growth-heading-number-players::after {
	content: "";
	display: block;
	width: 16px;
	height: 4px;
	background-color: #ffffff;
	border-radius: 2px;
}

.others-img {
	display: block;
	width: 100%;
}

.others-container {
	position: relative;
	padding: 24px 20px 50px;
}

.be-active-number-container, .find-contacts-number-container, .work-it-number-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 70px;
	background-color: #5e42b0;
	position: absolute;
	top: -58px;
	left: 20px;
}

.others-heading-number {
	display: block;
	font-family: OpenSans-Bold, sans-serif;
	font-size: 14px;
	color: #ffffff;
}

.others-heading-number::after {
	content: "";
	display: block;
	height: 4px;
	background-color: #8f7bc8;
	border-radius: 2px;
}

.others-heading {
	font-family: OpenSans-Bold, sans-serif;
	font-size: 28px;
	color: #e7e7e7;
	text-transform: uppercase;
}

.others-content-text {
	font-family: OpenSans-Regular, sans-serif;
	font-size: 16px;
	margin-top: 17px;
}

.footer {
	color: #ffffff;
	background-image: url(../images/game_767.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-color: #0a0e34;
    position: relative;
}

.footer::after {
	content: "";
	background-color: #0a0e34;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.9;
}

.footer-container {
	position: relative;
	z-index: 2;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
    display: flex;
    flex-direction: column;
}

.footer-icon-and-heading {
	display: flex;
	flex-direction: column;
	margin-bottom: 75px;
}

.footer-icon {
	width: 70px;
	height: 70px;
	background-color: #7151cf;
	border-radius: 14px;
	align-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-icon-svg {
	width: 60px;
	height: 50px;
	fill: #ffffff;
}

.footer-heading {
	font-family: OpenSans-Bold, sans-serif;
	font-size: 32px;
	text-transform: uppercase;
	margin-top: 50px;
	text-align: center;
}

.footer-heading-end {
	display: block;
	font-family: OpenSans-Regular, sans-serif;
	font-size: 14px;
	color: #9b8ec1;
}

.footer-social-links {
	display: flex;
	flex-direction: column;
	align-self: center;
	font-size: 8px;
	margin-bottom: 80px;
}

/*____________________Для планшета____________________*/

@media screen and (min-width: 641px) and (max-width: 960px) {
	.header-container {
		padding: 40px 0 90px;
	}

	.main-logo {
		width: 205px;
		height: 55px;
	}

	.heading {
		font-size: 64px;
		padding-left: 11%;
		margin-top: 165px;
		margin-bottom: 300px;
		line-height: 1.2em;
	}

	.heading-end {
		margin-left: 12%;
		margin-top: 0;
	}

	.header-social-links {
		flex-direction: row;
		font-size: 14px;
	}

	.app-store-link, .google-play-link {
		width: 310px;
		height: 77px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 40px;
	}

	.app-store-link {
		margin-right: 4%;
		margin-bottom: 0;
	}

	.button-container {
		display: flex;
		width: 70%;
	}

	.app-store-logo, .google-play-logo {
		margin-right: 20px;
	}

	.app-store-logo-svg, .google-play-logo-svg {
		width: 45px;
		height: 45px;
	}

	.athlets {
		padding-top: 70px;
		position: relative;
	}

	.heading-athlets {
		font-size: 80px;
		padding-left: 38%;
	}

	.footballer-img {
		width: 60%;
		position: absolute;
		left: -18%;
		top: 100px;
	}

	.connection-athlets, .collaboration-athlets, .growth {
		padding-top: 35px;
		padding-bottom: 35px;
		padding-left: 38%;
	}

	.heading-number, .growth-heading-number {
		font-size: 18px;
	}

	.heading-number::after, .growth-heading-number::after {
		width: 20px;
		height: 5px;
		border-radius: 3px;
	}

	.content-title {
		font-size: 32px;
	}

	.content-text, .growth-content-text {
		font-size: 16px;
	}

	.players {
		padding-top: 70px;
		position: relative;
	}

	.heading-players {
		font-size: 80px;
		padding-left: 32px;
	}

	.basketballer-img {
		width: 55%;
		position: absolute;
		right: 0;
		top: 55px;
	}

	.connection-players, .collaboration-players, .growth-players {
		padding-top: 35px;
		padding-bottom: 35px;
		padding-left: 32px;
		padding-right: 49%;
	}

	.growth-heading-number-players {
		font-size: 18px;
	}

	.growth-heading-number-players::after {
		width: 20px;
		height: 5px;
		border-radius: 3px;
	}

	.others-container {
		position: relative;
		padding: 75px 32px 95px;
	}

	.number-container {
		width: 115px;
		height: 115px;
		top: -80px;
		left: 32px;
	}

	.others-heading-number {
		font-size: 24px;
	}

	.others-heading-number::after {
		height: 5px;
		border-radius: 3px;
	}

	.others-heading {
		font-size: 80px;
	}

	.others-content-text {
		font-size: 24px;
		margin-top: 20px;
	}

	.footer-container {
		padding: 125px 0 20px;
	}

	.footer-icon-and-heading {
		margin-bottom: 275px;
	}

	.footer-icon {
		width: 130px;
		height: 130px;
		border-radius: 30px;
	}

	.footer-icon-svg {
		width: 100px;
		height: 85px;
	}

	.footer-heading {
		font-size: 80px;
		margin-top: 60px;
	}

	.footer-heading-end {
		font-size: 36px;
	}

	.footer-social-links {
		flex-direction: row;
		font-size: 14px;
		margin-bottom: 55px;
	}
}

/*____________________Для декстопа____________________*/

@media screen and (min-width: 961px) {
	.header {
		background-image: url(../images/football_1280.jpg);
	}

	.header-container {
		padding: 45px 0 110px;
		margin-left: 10%;
		margin-right: 10%;
	}

	.main-logo {
		width: 190px;
		height: 55px;
	}

	.heading {
		font-size: 70px;
		margin-top: 275px;
		margin-bottom: 210px;
		line-height: 1em;
	}

	.heading-end {
		margin-left: 27%;
		margin-top: 0;
	}

	.header-social-links {
		flex-direction: row;
		font-size: 14px;
	}

	.app-store-link, .google-play-link {
		width: 310px;
		height: 77px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 40px;
	}

	.app-store-link {
		margin-right: 7%;
		margin-bottom: 0;
	}

	.button-container {
		display: flex;
		width: 80%;
	}

	.app-store-logo, .google-play-logo {
		margin-right: 20px;
	}

	.app-store-logo-svg, .google-play-logo-svg {
		width: 45px;
		height: 45px;
	}

	.athlets {
		padding-top: 90px;
		position: relative;
	}

	.heading-athlets {
		font-size: 80px;
		padding-left: 52%;
	}

	.footballer-img {
		width: 40%;
		min-width: 400px;
		max-width: 566px;
		position: absolute;
		left: 10%;
		top: 20px;
	}

	.connection-athlets, .collaboration-athlets, .growth {
		padding-top: 55px;
		padding-bottom: 55px;
		padding-left: 52%;
		padding-right: 10%;
	}

	.heading-number, .growth-heading-number {
		font-size: 18px;
	}

	.heading-number::after, .growth-heading-number::after {
		width: 20px;
		height: 5px;
		border-radius: 3px;
	}

	.content-title {
		font-size: 36px;
	}

	.content-text, .growth-content-text {
		font-size: 20px;
	}

	.players {
		padding-top: 20px;
		position: relative;
	}

	.heading-players {
		font-size: 80px;
		padding-left: 10%;
		margin-top: 70px;
	}

	.basketballer-img {
		width: 62.5%;
		max-width: 991px;
		position: absolute;
		right: 0;
		top: 20px;
	}

	.connection-players, .collaboration-players, .growth-players {
		padding-top: 55px;
		padding-bottom: 55px;
		padding-left: 10%;
		padding-right: 49%;
	}

	.growth-heading-number-players {
		font-size: 18px;
	}

	.growth-heading-number-players::after {
		width: 20px;
		height: 5px;
		border-radius: 3px;
	}

	.be-active, .find-contacts, .work-it {
		display: flex;
	}

	.find-contacts {
		flex-direction: row-reverse;
	}

	.be-active-img, .find-contact-img, .work-it-img {
		width: 50%;
	}

	.others-img {
		width: 100%;
	}

	.number-and-others-heading {
		position: relative;
	}

	.be-active-container, .work-it-container {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 50%;
		padding: 0 3% 0 100px;
	}

	.find-contacts-container {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 50%;
		padding: 0 90px 0 3%;
	}

	.be-active-number-container, .work-it-number-container {
		width: 166px;
		height: 150px;
		top: -30px;
		left: -180px;
	}

	.find-contacts-number-container {
		width: 166px;
		height: 150px;
		top: -30px;
		left: auto;
		right: -170px; 
	}

	.others-heading-number {
		font-size: 24px;
	}

	.others-heading-number::after {
		height: 5px;
		border-radius: 3px;
	}

	.others-heading {
		font-size: 65px;
	}

	.others-content-text {
		font-size: 24px;
		margin-top: 5%;
	}

	.footer {
		background-image: url(../images/game_1280.jpg);
	}

	.footer-container {
		padding: 230px 0 50px;
	}

	.footer-icon-and-heading {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-bottom: 150px;
	}

	.footer-icon {
		width: 130px;
		height: 130px;
		border-radius: 30px;
		margin-right: 1.8%;
	}

	.footer-icon-svg {
		width: 105px;
		height: 90px;
	}

	.footer-heading {
		font-size: 80px;
		margin-top: 0;
		text-align: left;
		margin-top: -15px;
	}

	.footer-heading-end {
		font-size: 30px;
		margin-top: -13px;
	}

	.footer-social-links {
		flex-direction: row;
		font-size: 14px;
		margin-bottom: 260px;
	}
}

@media screen and (min-width: 1661px) {
	.header {
		background-image: url(../images/football_1920.jpg);
	}

	.heading {
		font-size: 90px;
		line-height: 1em;
	}

	.footballer-img {
		width: 30%;
		max-width: 566px;
		position: absolute;
		left: 20%;
		top: 20px;
	}

	.basketballer-img {
		width: 50%;
		max-width: 991px;
		position: absolute;
		right: 5%;
		top: 20px;
	}

	.be-active-container, .work-it-container {
		padding: 0 5% 0 130px;
	}

	.find-contacts-container {
		padding: 0 80px 0 130px;
	}

	.be-active-number-container, .work-it-number-container {
		width: 166px;
		height: 150px;
		top: -15px;
		left: -210px;
	}

	.find-contacts-number-container {
		width: 166px;
		height: 150px;
		top: -15px;
		left: auto;
		right: -160px;
	}

	.others-heading-number {
		font-size: 24px;
	}

	.others-heading-number::after {
		height: 5px;
		border-radius: 3px;
	}

	.others-heading {
		font-size: 80px;
	}

	.others-content-text {
		font-size: 24px;
		margin-top: 10%;
	}

	.footer {
		background-image: url(../images/game_1920.jpg);
	}
}