* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: OpenSans-Bold;
	src: url(../fonts/OpenSans-Bold.woff) format("woff"),
		 url(../fonts/OpenSans-Bold.woff2) format("woff2"),
		 url(../fonts/OpenSans-Bold.ttf) format("ttf");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: OpenSans-Regular;
	src: url(../fonts/OpenSans-Regular.woff) format("woff"),
		 url(../fonts/OpenSans-Regular.woff2) format("woff2"),
		 url(../fonts/OpenSans-Regular.ttf) format("ttf");
	font-weight: 400;
	font-style: normal;
}

.header {
	color: #ffffff;
	background-image: url(../images/football_767.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-color: #0a0e34;
    position: relative;
    display: flex;
    flex-direction: column;
}

.header::after {
	content: "";
	background-color: #0a0e34;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.9;
}

.header-container {
	position: relative;
	z-index: 2;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 32px;
}

.header-logo {
	width: 130px;
	height: 35px;
	margin-left: auto;
	margin-right: auto;
}

.header-logo-svg {
	fill: #ffffff;
}

.heading {
	font-family: OpenSans-Bold, sans-serif;
	font-size: 28px;
	text-transform: uppercase;
	margin-top: 130px;
}

.heading-start, .heading-end {
	display: block;
}

.heading-start {
	text-align: left;
	margin-bottom: 20px;
}

.heading-end {
	margin-left: 44px;
}

.header-links {
	font-size: 8px;
	margin-top: 90px;
	padding-bottom: 85px;
}

.header-app-store, .header-google-play {
	height: 35px;
	background-color: #5e42b0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	border-radius: 17px;
	cursor: pointer;
}

.header-app-store {
	margin-bottom: 14px;
}

.app-store-logo, .google-play-logo {
	margin-left: 28.5%;
	margin-right: 5px;
}

.app-store-logo-svg, .google-play-logo-svg {
	width: 26px;
	height: 26px;
	fill: #ffffff;
}

.social-text {
	font-family: OpenSans-Regular, sans-serif;
	display: block;
	text-transform: uppercase;
}

.app-store-text-end, .google-play-text-end {
	font-family: OpenSans-Bold, sans-serif;
}

.main-container {
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	position: relative;
}

.athlets {
	display: flex;
	flex-wrap: wrap;
	background-image: url(../images/footballer_192.png);
    background-repeat: no-repeat;
    background-position: center 70px;
}

.main-heading {
	font-family: OpenSans-Bold, sans-serif;
	font-size: 50px;
	color: #e7e7e7;
	text-transform: uppercase;
	margin-bottom: 310px;
	padding-left: 20px;
}

.connection {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;
}

.heading-number {
	font-family: OpenSans-Bold, sans-serif;
	font-size: 14px;
	margin-right: 9px;
}

.heading-number::after {
	content: "";
	display: block;
	width: 16px;
	height: 4px;
	background-color: #5e42b0;
	border-radius: 2px;
}

.content-title {
	font-family: OpenSans-Bold, sans-serif;
	font-size: 23px;
	color: #c1c1c1;
	text-transform: uppercase;
}

.content-text {
	font-family: OpenSans-Regular, sans-serif;
	font-size: 15px;
	margin-top: 17px;
}

.collaboration, .growth {
	padding: 50px 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.collaboration {
	background: #f5f4f9;
}

.growth {
	background: #5e42b0;
}

.growth-heading-number {
	font-family: OpenSans-Bold, sans-serif;
	font-size: 14px;
	margin-right: 9px;
}

.growth-heading-number::after {
	content: "";
	display: block;
	width: 16px;
	height: 4px;
	background-color: #ffffff;
	border-radius: 2px;
}

.growth-content-text {
	font-family: OpenSans-Regular, sans-serif;
	font-size: 15px;
	margin-top: 17px;
	color: #ffffff;
}

.players {
	display: flex;
	flex-wrap: wrap;
	background-image: url(../images/basketballer_302.png);
    background-repeat: no-repeat;
    background-position: center 70px;
}

.growth-players {
	padding: 50px 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background: #090c35;
}

.growth-heading-number-players {
	font-family: OpenSans-Bold, sans-serif;
	font-size: 14px;
	margin-right: 9px;
	color: #8765dd;
}

.growth-heading-number-players::after {
	content: "";
	display: block;
	width: 16px;
	height: 4px;
	background-color: #ffffff;
	border-radius: 2px;
}