* {
	margin: 0;
	padding: 0;
}

body {
	min-width: 320px;
}

@font-face {
	font-family: OpenSans-Bold;
	src: url(../fonts/OpenSans-Bold.woff) format("woff"),
		 url(../fonts/OpenSans-Bold.woff2) format("woff2"),
		 url(../fonts/OpenSans-Bold.ttf) format("ttf");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: OpenSans-Regular;
	src: url(../fonts/OpenSans-Regular.woff) format("woff"),
		 url(../fonts/OpenSans-Regular.woff2) format("woff2"),
		 url(../fonts/OpenSans-Regular.ttf) format("ttf");
	font-weight: 400;
	font-style: normal;
}

.header {
	color: #ffffff;
	background-image: url(../images/football_767.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-color: #0a0e34;
    position: relative;
    display: flex;
    flex-direction: column;
}

.header::after {
	content: "";
	background-color: #0a0e34;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.9;
}

.header-container {
	position: relative;
	z-index: 2;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 32px;
	display: flex;
    flex-direction: column;
}

.main-logo {
	width: 130px;
	height: 35px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.main-logo-link {
	display: block;
}

.main-logo-svg {
	fill: #ffffff;
}

.heading {
	font-family: OpenSans-Bold, sans-serif;
	font-size: 28px;
	text-transform: uppercase;
	margin-top: 130px;
}

.heading-end {
	display: block;
	margin-left: 44px;
}

.header-social-links {
	width: 280px;
	align-self: center;
	font-size: 8px;
	padding-top: 85px;
	padding-bottom: 85px;
}

.app-store-link, .google-play-link {
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #5e42b0;
	border-radius: 17px;
	cursor: pointer;
}

.app-store-link {
	margin-bottom: 14px;
}

.button-container {
	display: flex;
	width: 40%;
}

.app-store-logo, .google-play-logo {
	margin-right: 5px;
}

.app-store-logo-svg, .google-play-logo-svg {
	width: 26px;
	height: 26px;
	fill: #ffffff;
}

.social-text {
	font-family: OpenSans-Regular, sans-serif;
	display: block;
	text-transform: uppercase;
}

.app-store-text-end, .google-play-text-end {
	font-family: OpenSans-Bold, sans-serif;
}

.main-container {
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	position: relative;
}

.athlets {
	padding-top: 5px;
}

.main-heading {
	font-family: OpenSans-Bold, sans-serif;
	font-size: 50px;
	color: #e7e7e7;
	text-transform: uppercase;
	padding-left: 20px;
}

.footballer-img {
	display: block;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 20px; 
}

.connection {
	padding-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;
}

.title-container {
	display: flex;
	align-items: center;
}

.heading-number {
	font-family: OpenSans-Bold, sans-serif;
	font-size: 14px;
	margin-right: 9px;
}

.heading-number::after {
	content: "";
	display: block;
	width: 16px;
	height: 4px;
	background-color: #5e42b0;
	border-radius: 2px;
}

.content-title {
	font-family: OpenSans-Bold, sans-serif;
	font-size: 23px;
	color: #c1c1c1;
	text-transform: uppercase;
}

.content-text {
	font-family: OpenSans-Regular, sans-serif;
	font-size: 15px;
	margin-top: 17px;
}

.collaboration, .growth {
	padding: 50px 20px;
}

.collaboration {
	background: #f5f4f9;
}

.growth {
	background: #5e42b0;
}

.growth-heading-number {
	font-family: OpenSans-Bold, sans-serif;
	font-size: 14px;
	margin-right: 9px;
}

.growth-heading-number::after {
	content: "";
	display: block;
	width: 16px;
	height: 4px;
	background-color: #ffffff;
	border-radius: 2px;
}

.growth-content-text {
	font-family: OpenSans-Regular, sans-serif;
	font-size: 15px;
	margin-top: 17px;
	color: #ffffff;
}

.players {
	padding-top: 5px;
}

.basketballer-img {
	display: block;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 50px;
}

.growth-players {
	padding: 50px 20px;
	background: #090c35;
}

.growth-heading-number-players {
	font-family: OpenSans-Bold, sans-serif;
	font-size: 14px;
	margin-right: 9px;
	color: #8765dd;
}

.growth-heading-number-players::after {
	content: "";
	display: block;
	width: 16px;
	height: 4px;
	background-color: #ffffff;
	border-radius: 2px;
}

.others-img {
	display: block;
	width: 100%;
}

.others-container {
	position: relative;
	padding-top: 24px;
	padding-bottom: 50px;
}

.number-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 70px;
	background-color: #5e42b0;
	position: absolute;
	top: -58px;
	left: 20px;
}

.others-heading-number {
	font-family: OpenSans-Bold, sans-serif;
	font-size: 14px;
	color: #ffffff;
}

.others-heading-number::after {
	content: "";
	display: block;
	width: 16px;
	height: 4px;
	background-color: #8f7bc8;
	border-radius: 2px;
}

.others-heading {
	font-family: OpenSans-Bold, sans-serif;
	font-size: 28px;
	color: #e7e7e7;
	text-transform: uppercase;
	padding-left: 20px;
	padding-right: 20px;
}

.others-content-text {
	font-family: OpenSans-Regular, sans-serif;
	font-size: 16px;
	margin-top: 17px;
	padding-left: 20px;
	padding-right: 20px;
}

.footer {
	color: #ffffff;
	background-image: url(../images/game_767.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-color: #0a0e34;
    position: relative;
}

.footer::after {
	content: "";
	background-color: #0a0e34;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.9;
}

.footer-container {
	position: relative;
	z-index: 2;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
    display: flex;
    flex-direction: column;
}

.footer-icon {
	width: 70px;
	height: 70px;
	background-color: #7151cf;
	border-radius: 14px;
	align-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-icon-svg {
	width: 60px;
	height: 50px;
	fill: #ffffff;
}

.footer-heading {
	font-family: OpenSans-Bold, sans-serif;
	font-size: 32px;
	text-transform: uppercase;
	margin-top: 50px;
	text-align: center;
}

.footer-heading-end {
	display: block;
	font-family: OpenSans-Regular, sans-serif;
	font-size: 14px;
	color: #9b8ec1;
}

.footer-social-links {
	width: 280px;
	align-self: center;
	font-size: 8px;
	padding-top: 75px;
	padding-bottom: 80px;
}